* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body,
html {
  line-height: 1.6;
  font-weight: 400;
  color: #636363;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  max-width: 1199px;
  margin: auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

nav ul li {
  padding: 55px 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: 0.5s;
  color: #070120;
}

nav ul li a span {
  display: inline-block;
}

nav ul li a i {
  font-size: 9px;
  margin-bottom: 3px;
  vertical-align: middle;
}

nav ul li a:hover span {
  color: red;
  animation: upToDown 0.3s;
}

nav ul li a:hover {
  color: red;
  transition: 0.3s;
}

.btn-gradient {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: 0.5s;
  cursor: pointer;
  color: #fff;
  line-height: 1.2;
  border-radius: 30px;
  display: inline-block;
}

.btn-gradient:hover {
  background-position: right center;
}

/* CAROUSEL */

.carousel {
  background-image: url(./img/pic2_bg.png);
  padding-top: 180px;
  overflow: hidden;
  background-position: top;
  background-size: 100%;
}

.carousel__content {
  display: flex;
  align-items: center;
}

.carousel__left {
  width: 60%;
}

.carousel__right {
  width: 40%;
}

.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.article p {
  font-size: 18px;
  margin-bottom: 15px;
}

.article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}

.carousel__content li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
}

.carousel__right .img__container {
  width: 570px;
  margin-left: 50px;
}

.img__container img {
  display: block;
}

/* SERVICES */

.services {
  padding-bottom: 0;
  background-image: url(./img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.services__content {
  text-align: center;
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.services__cards .card {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 45px;
  transform: translateY(0);
  transition: 0.5s;
}

.services__cards .card:hover {
  transform: translateY(-15px);
}

.card img {
  width: 215px;
}

.card h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}

/* ABOUT US */

.about-us {
  background-image: url(./img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}

.padding-top {
  padding-top: 115px;
}

.about-us .content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.aboutUs__left {
  width: 60%;
  position: absolute;
  left: -17%;
}

.aboutUs__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.aboutUs__right {
  width: 50%;
}

.aboutUs__right p {
  margin-bottom: 15px;
}

.aboutUs__right ul {
  margin-bottom: 30px;
}

.right__content i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}

/* NUMBER */

.number {
  background-image: url(./img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}

.number__content {
  display: flex;
}

.number__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.number__item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
  text-align: center;
}

.number__item div {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}

.number__item p {
  color: #262626;
  font-size: 18px;
}

/* FEATURES */

.features {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
}

.features__content {
  display: flex;
}

.features__left {
  width: 50%;
}

.title .animate__animated {
  visibility: visible;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-name: fadeInLeft;
}

.left__item {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.left__item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: 1s;
}

.left__item div {
  padding-left: 25px;
  z-index: 1;
  transition: 1s;
}

.left__item div h2 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: 1s;
}

.animate__animated {
  animation-duration: 2s;
}

.title.animate__animated {
  animation-delay: 0.2s;
}

.left__item-wrapper {
  position: relative;
}

.left__item::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0%;
  transition: all 1s;
  background-size: 200%;
}

.left__item:hover::after {
  opacity: 100%;
}

.left__item:hover i,
.left__item:hover div,
.left__item:hover h2 {
  color: white;
}

.left__item-wrapper:nth-of-type(1) {
  padding: 0 50px 30px 0;
  animation-delay: 0.4s;
}

.left__item-wrapper:nth-of-type(2) {
  padding: 0 0 30px 50px;
  animation-delay: 0.6s;
}

.left__item-wrapper:nth-of-type(3) {
  padding: 0 50px 30px 0;
  animation-delay: 0.8s;
}

.features__right {
  width: 50%;
}

.right__img {
  margin-right: -80px;
}

.right__img img {
  max-width: 100%;
  animation: shake 5s infinite;
}

/* PORTFOLIO */
.portfolio {
  background-image: url(./img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.portfolio__pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio__item::after {
  content: "";
  top: 0;
  left: -100%;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  width: 50%;
  height: 100%;
  transition: 0.75s;
  transform: skewX(-25deg);
}

.portfolio__item:hover::after {
  left: 125%;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}

.portfolio__overlay:hover {
  opacity: 1;
}

.portfolio__item img {
  width: 100%;
  height: 100%;
  display: block;
}

.portfolio__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}

.portfolio__icon a {
  cursor: pointer;
  text-decoration: none;
}

.portfolio__icon i {
  color: #fff;
}

.portfolio__item:hover .portfolio__icon {
  transform: translateY(0);
}

.portfolio__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}

.portfolio__text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}

.portfolio__text p {
  color: #fff;
  opacity: 0.7;
}

.portfolio__item:hover .portfolio__text {
  transform: translateY(0);
}

.item-1 {
  grid-column: 1/3;
}

.item-5 {
  grid-column: 1/3;
}

.item-6 {
  grid-column: 3/4;
  grid-row: 2/4;
}

/* PLANS */

.plans {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.plans__content {
  text-align: center;
}

.plans__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.plans__item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0, 0, 0, 0.1);
  transition: 0.5s;
}

.plans__item:hover {
  border-image: url(./img/br.png) 1 round;
}

.plans__item p {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}

.plans__item img {
  width: 120px;
}

.plans__item div {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}

.plans__item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}

.plans__item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}

.plans__item li {
  padding: 5px 0;
  font-weight: 400;
  font-size: 19px;
  color: #262626;
}

.plans__item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}

/* TESTIMONIALS */

.testimonial {
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  padding: 100px 0;
  min-height: 300px;
  position: relative;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}

.testimonial-thumbs::after,
.testimonial-thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}

.testimonial-thumbs::before {
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial-thumbs::after {
  right: 0;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}

.testimonial-pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}

.testimonial-pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}

.testimonial-pic::after,
.testimonial-pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: pink;
}

.shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}

.shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(./img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}

.testimonial-comment {
  min-height: 300px;
  width: 100%;
  position: relative;
}

.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.testimonial-text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}

.testimonial-name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial-text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}

.testimonial-position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}

.swiper-slide-thumb-active .testimonial-pic .shape-bx {
  opacity: 1;
}

.swiper-slide-thumb-active .testimonial-pic::after,
.swiper-slide-thumb-active .testimonial-pic::before {
  opacity: 1;
}

.swiper-slide-thumb-active .testimonial-pic::after,
.swiper-slide-thumb-active .testimonial-pic::before {
  opacity: 1;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

/* BLOG */
.blog {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}

.blog__slider {
  display: flex;
}

.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
  margin-right: 30px;
}

.blog__header {
  position: relative;
}

.blog__header span {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.blog__header img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog__body h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog__footer p:first-of-type {
  margin-right: 20px;
}

.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}

.blog__footer p:first-of-type span {
  color: #f55f8d;
}

/* FOOTER */

footer {
  background-image: url(../img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}

.footer__text {
  width: 50%;
}

.footer__text h2 {
  font-size: 28px;
  color: #262626;
}

.footer__form {
  width: 50%;
}

.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}

.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}

.footer__form i {
  font-family: "Line Awesome Free";
  font-weight: 900;
}

.footer__form button:hover {
  background-position: right center;
}

.footer__form button:hover i {
  animation: toLeftFromRight 0.5s forwards;
  display: inline-block;
}

.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer__item {
  width: 25%;
}

.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer__item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 15px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 45px;
  left: 20px;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer__item li {
  padding: 0.5rem 0;
  list-style: none;
}

.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}

.footer__item i {
  font-weight: 700;
  margin-right: 10px;
  display: inline-block;
}

.footer__item a:hover {
  color: #fff;
}

.footer__contact li {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  font-weight: 700;
  margin-right: 10px;
  color: #fff;
}

.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
  color: white;
}

.footer__contact span {
}

.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__left span {
  color: #f55f8d;
}

.footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}

.footer__copyright a:hover {
  background: #f55f8d;
}

/* BACK TO TOP */

/* ANIMATION */

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
    transform: translateY(-100%);
  }

  51% {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(-100%);
  }

  51% {
    opacity: 1;
  }
}
